


#cmt_desc {
    width: 100%;
    height: 50%;
    background-color: green;
}

#cmt_files {
    width: 100%;
    height: 50%;
    background-color: greenyellow;
}

#file_chart {
    width: 90%;
    height: 90%;
    margin: 5%;
}