
#cmt_details {
    width: 100%;
    height: 100%;
}

#cmt_desc_head {
    width: 100%;
    display: inline-block;
}

#cmt_avatar {
    width: 74px;
    height: 74px;
    background-size: cover;
    background-position: top center;  
    border-radius: 50%;
    float: left;
}

#cmt_desc {
    height: 74px;
    width: 80%;
}

#cmt_author_date {
    width: 100%;
    align-content: space-between;
    align-items: space-between;
}

#cmt_author {
    float: left;
}

#cmt_date {
    float: right;
}

#adds_dels_chart {
    width: 100%;
    height: 20%;
    margin: 0;
}

#cmt_files {
    width: 100%;
    height: 50%;
    /*background-color: greenyellow;*/
}

#file_chart {
    width: 100%;
    height: 100%;
    margin: 0;
}