
#repo_details {
    height: 100%;
}

#repo_adds_dels_chart {
    width: 100%;
    height: 25%;
    padding: 0;
}

#repo_files {
    width: 100%;
    height: 59%;
}

#repo_detail_headline {
    margin-top: 0;
}

#repo_file_chart {
    width: 100%;
    height: 100%;
    padding: 0;
}
