
text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node > rect {
    stroke: #595f61;
    fill: #F5F5F5;
    stroke-width: 2px;
}


.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

#dagrediv {
    width: 100%;
    height: 100%;
    /* TODO: ELIAS commented this out */
    /* because interfered with Split library drag handle */
    /* position: absolute; */
    z-index: 999;
    padding: 20px 20px 20px 20px;
}


.selected > rect {
    stroke-width:7px;
    stroke: #2dc1f7;
}

.commitcontainer {
    min-width: 174px;
    /*border: 1px solid;*/
    overflow: hidden; /* will contain if #first is longer than #second */
}
.lineschanged {
    min-width: 40%;
    float:left ;
    /*border: 1px solid;*/
}
.textinfo {
    min-width: 60%;
    max-width: 80%;
    /*border: 1px solid ;*/
    float: right;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.textinfo{
    padding-left: 5px;
    line-height: 2em
}

.message{
    font-size: 15px;

}

.author{
    font-size: 13px;
    color: #555555;
}

.date{
    font-size: 13px;
    color: #555555;
}

#datepicker {
    height: 5%;
}
