/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
    fill: #00ffd0;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.node rect {
    stroke: #999;
    fill: #afa;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

#dagrediv {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 999;
    padding: 20px 20px 20px 20px;
}


.selected > rect {
    stroke-width: 5px;
    stroke: forestgreen;
    fill: orange;
}
